<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Edit Receipe</h1>
    <div class="col-6 offset-3">
        <form action="/receipes/<%=receipe._id%>?_method=PUT" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" name="receipe[name]"
                    value="<%=receipe.name %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="steps">Steps</label>
                <input class="form-control" type="text" id="steps" name="receipe[steps]"
                    value="<%=receipe.steps %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="receipe[image]"
                    value="<%=receipe.image %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="receipe[description]"
                    required><%= receipe.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update Receipe</button>
            </div>
        </form>
        <a href="/receipes<%= receipe._id%>">Back To Receipes</a>

    </div>
</div>